* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: 'Saira', sans-serif;
  background-image: url(/src/assets/images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -70px;
  padding-bottom: 3%;
  margin-top: 78px;
}

#logo {
  position: absolute;
  width: 170px;
  left: 60px;
}

.option {
  width: 100px;
  height: 50px;
}

.custom-select {
  display: inline-block;
  width: 100%; /* Make it full width */
  padding: 8px; /* Add some padding for better appearance */
  border: 1px solid #ccc; /* Add a border for better visibility */
  border-radius: 5px; /* Optional: Rounded corners */
}

.custom {
  margin-top: 4px;
  margin-right: 80px;
}

.custom1 {
  margin-top: 20px;
}

/* Apply styles to the options within the select */
.custom-select option {
  background-color: #fff; /* Background color of each option */
  color: #333; /* Text color of each option */
}

header .icons a{
  font-size: 2.5 rem;;
  color: #333;
  margin-left: 1.5rem;
  outline: none;
  border: none;
  text-decoration: none;
}

header .icons a:hover {
  color: var(--pink);
}

.header-title {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#header-title-1 {
  position: relative;
  left: auto;
  right: auto;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-shadow: 5px 5px 5px #004aad;
}

#header-title-2 {
  bottom: 150px;
  left: auto;
  right: auto;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-shadow: 5px 5px 5px #004aad;
}

#header-title-3 {
  bottom: 150px;
  float: right;
  right: 100px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-shadow: 5px 5px 5px #004aad;
  padding-right: 1%;
}

nav {
  position: fixed;
  background-image: url(/src/assets/images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  right: 0px;
  top: 0px;
}

.navbar {
  position: fixed;
  z-index: 1000;
}

.nav-item {
  border: 1px solid #fff;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.nav-title {
  color: white;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  text-decoration: none;
  background-color: #fff;
  color: black;
}

footer {
  font-family: 'Saira', sans-serif;
  background-image: url(/src/assets/images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-footer {
  padding: 10px;
}

#footer-logo {
  position: relative;
  left: -10px;
  width: 100%;
}

#footer-title {
  position: relative;
  left: -40px;
}

.info-co {
  position: relative;
  margin: 15px auto;
  text-align: center;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link-icon {
  font-size: x-large;
}

footer .gotop {
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 100;
}

/*---------------------------------TRANG CHỦ---------------------------------------*/
.nenvang_tc {
  background-image: linear-gradient(to right, white, yellow, yellow, white);
  color: darkblue;
  margin-bottom: 2px;
}

.home-title {
  background-image: linear-gradient(to right, #536aff, #536aff, white, white);
  color: #fff;
  padding: 10px;
}

.goc-anh-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.goc-anh-column {
  flex: 33%;
  max-width: 33%;
  padding: 4 4px;
}

.goc-anh-column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}


/*---------------------------------ĐÀO TẠO---------------------------------------*/
.li_dt::marker {
  content: none;
}

a.lk_dt {
  text-decoration: none;
  color: black;
}

a.lk_dt:hover {
  text-decoration: underline;
  color: blue;
  background-color: yellow;
}

.vachngan_dt {
  font-weight: 600;
  text-align: right;
  width: 25%;
}

.canbang_dt {
  text-align: justify;
}


.tieude_dt {
  background-image: linear-gradient(to right, white, #536aff, #536aff, white);
  color: #fff;
  padding: 10px;
}

/*---------------------------------TIN TỨC---------------------------------------*/
h6.tde_tt {
  text-align: justify;
}

img.anh_tt {
  height: 30ex;
  width: 100%;
}

div.khung_tt {
  height: 50ex;
  margin-bottom: 20px;
}


/* dn dk */


.noi-dung {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px #ccc;
}

/* Style the login form container */
.noi-dung .form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px #ccc;
  border-radius: 5px;
}

/* Style the login form title */
.noi-dung .form h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff;
}

/* Style the input form labels */
.noi-dung .form .input-form span {
  display: block;
  margin-bottom: 5px;
}

/* Style the input fields */
.noi-dung .form .input-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Style the "Remember Me" checkbox */
.noi-dung .form .nho-dang-nhap label {
  font-size: 14px;
}

/* Style the "Forgot Password" link */
.noi-dung .form .nho-dang-nhap .forgotpass {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

/* Style the submit button */
.noi-dung .form .input-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

/* Style the link to the registration page */
.noi-dung .form .input-form p a {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}