*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

header{
  font-family: 'Saira', sans-serif;
  background-image: url(/src/assets/images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -70px;
  padding-bottom: 3%;
  margin-top: 78px;
}

#logo{
  position: absolute;
  width: 170px;
  left: 60px;
}

.header-title{
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#header-title-1{
  position: relative;
  left: auto;
  right: auto;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-shadow:5px 5px 5px #004aad;
}

#header-title-2{
  bottom: 150px;
  left: auto;
  right: auto;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-shadow:5px 5px 5px #004aad;
}

#header-title-3{
  bottom: 150px;
  float: right;
  right: 100px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-shadow:5px 5px 5px #004aad;
  padding-right: 1%;
}

nav{
  position: fixed;
  background-image: url(/src/assets//images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  right: 0px;
  top: 0px;
}

.navbar{
  position: fixed;
  z-index: 1000;
}

.nav-item{
  border: 1px solid #fff;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.nav-title{
  color: white;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
  text-decoration: none;
  background-color: #fff;
  color: black;
}

/* footer{
  font-family: 'Saira', sans-serif;
  background-image: url(src/img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
} */

.main-footer{
  padding: 10px;
}

#footer-logo{
  position: relative;
  left: -10px;
  width: 100%;
}

#footer-title{
  position: relative;
  left: -40px;
}

.info-co{
  position: relative;
  margin: 15px auto;
  text-align: center;
}

.footer-link:hover  {
  text-decoration: underline;
}

.footer-link-icon{
  font-size: x-large;
}

footer .gotop{
	position: fixed;
	bottom: 5px;
	right:10px;
	z-index:100;
}
/*---------------------------------TRANG CHỦ---------------------------------------*/
.nenvang_tc {
  background-image: linear-gradient(to right, white, yellow, yellow, white);
  color: darkblue;
  margin-bottom: 2px;
}

.home-title{
  background-image: linear-gradient(to right, #536aff, #536aff, white, white);
  color: #fff;
  padding: 10px;
}

.goc-anh-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.goc-anh-column {
  flex: 33%;
  max-width: 33%;
  padding: 4 4px;
}

.goc-anh-column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}


/*---------------------------------ĐÀO TẠO---------------------------------------*/
.li_dt::marker {
  content: none;
}

a.lk_dt {
  text-decoration: none;
  color: black;
}

a.lk_dt:hover {
  text-decoration: underline;
  color: blue;
  background-color: yellow;
}

.vachngan_dt {
  font-weight: 600;
  text-align: right;
  width: 25%;
}

.canbang_dt {
  text-align: justify;
}


.tieude_dt{
  background-image: linear-gradient(to right, white, #536aff, #536aff, white);
  color: #fff;
  padding: 10px;
}


/*---------------------------------TÂN SINH VIÊN---------------------------------------*/
a.lk_tsv {
  text-decoration: none;
  color: black;
}

a.lkimg_tsv {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a.lkimg_tsv:hover {
  text-decoration: underline;
  color: yellow;
}

a.lkhtro_tsv:hover,
a.lk_tsv:hover {
  text-decoration: underline;
  color: blue;
  background-color: yellow;
}

div.khungchu_tsv {
  left: 0;
  width: 100%;
  background-color: rgba(71, 157, 255, 0.25);
}

li.htro_tsv::marker {
  content: ">> ";
  color: blue;
}

li.hot_tsv::marker {
  color: red;
}

i.down_tsv {
  color: rgb(195, 195, 195);
}


/*---------------------------------TIN TỨC---------------------------------------*/
h6.tde_tt {
  text-align: justify;
}

img.anh_tt {
  height: 30ex;
  width: 100%;
}

div.khung_tt {
  height: 50ex;
  margin-bottom: 20px;
}

/*---------------------------------GIẢNG VIÊN---------------------------------------*/
.table_gg {
  width: 60%;
  background-color: #c7dff5;
  margin-left: auto;
  margin-right: auto;


}

.table_gg a {
  text-decoration: none;
}

.table_gg thead {
  text-align: center;
  background-color: #4d4dee;
  color: #f3f3f3;
}

.table_gg span {
  color: red;
  float: right;

}

a {
  text-decoration: none;
}

/*---------------------------------HỢP TÁC---------------------------------------*/
#hoptac1 {
  width: 100%;
}

.button_ht a {
  color: #fbf5f5;
}

.button_ht {
  text-align: center;
}

.table_ht th {
  text-align: center;
  background-color: #0d6efd;
  color: #f3f3f3;
}

.nav_ht {
  color: black;
}


/*---------------------------------Giới thiệu---------------------------------------*/
.main_about {
  font-size: 62.5%;
  font-family: sans-serif;
  max-width: 100vw;
  /* height: 20px; */
  /* background-color: #000; */
}

.about_desc_text p {
  text-align: justify;
  font-size: 0.9rem;
  letter-spacing: 0.2px;
}

@media only screen and (max-width: 576px) {
  .about_desc_text h3 {
    text-align: center;
    margin-top: 10px;
  }

  .about-desc_img img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-strategy_section .card {
    margin-bottom: 5px;
  }
}

.about-strategy_section p,
.about_workspace p,
.about_activities p,
.about_work div,
figcaption,
.abouts_desc p {
  font-size: 0.9rem;
  text-align: justify;
}

.about-strategy_section .card:nth-child(odd) {
  height: 248px;
}

.about_workspace img,
.about_work img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.abouts_desc h2 {
  position: relative;
}

.abouts_desc h2::before {
  content: "";
  width: 3px;
  height: 30px;
  position: absolute;
  left: 0%;
  top: 22%;
  background-color: blue;
}

/*---------------------------------Nghiên cứu---------------------------------------*/
.nc_table,
.nc_table th,
.nc_table td {
  border: 1px solid black;
}

.nc_gt-check_btn .card:hover {
  background-color: blue;
}


/*---------------------------------Thích ứng---------------------------------------*/
@media screen and (max-width: 600px) {
  #footer-logo{
    left: auto;
    right: auto;
    width: 70%;
  }

  .navbar{
    width: 100vw;
  }

  header{
    margin-top: 56px;
    margin-bottom: -70px;
    height: 160px;
  }

  #logo{
   width: 80px;
   margin-left: -60px;
   margin-top: 10px;
  }

  #header-title-1{
    font-size: 18px;
    font-weight: 700;
  }
  
  #header-title-2{
    font-size: 12px;
    font-weight: 400;
  }
  
  #header-title-3{
    right: 100px;
    font-size: 10px;
    font-weight: 400;
    margin-top: 30px;
  }  
}

